[Desktop Entry]
Version=1.0
Type=Application
Name=URL Opener
Comment=Opens Internet Shortcut .url files
Exec=mswinurl %F
Icon=internet-web-browser
MimeType=application/x-mswinurl;
